@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

.nav-section {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 20px 0;
}

.logo {
    width: 20%;
    cursor: pointer;
}

.logo>img {
    width: 140px;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.lists>li {
    list-style-type: none;
}

.lists>li>a {
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-size: 14px;
    font-weight: 400;
}

.lists>li:nth-child(4)>a {
    background: hsl(0, 94%, 66%);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px hsla(231, 69%, 60%, 0.397));
    border: 2px solid transparent;
}

.lists>li>a:hover {
    color: hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.lists>li:nth-child(4)>a:hover {
    color: hsl(0, 94%, 66%);
    background: transparent;
    border: 2px solid hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.mobile-menu {
    position: absolute;
    top: -100%;
    width: 100%;
    background: hsl(229deg 89% 12% / 85%);
    z-index: 999;
    height: 100vh;
    transition: .5s cubic-bezier(.17,.67,.45,.78);
}

.mobile-menu.active {
    top: 0;
}

.icon-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 40px 0;
}

.icons-mobile {
    cursor: pointer;
}

.icons-mobile>i {
    color: #fff;
    font-size: 20px;
}

.lists-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    width: 80%;
    margin: auto;

}

.lists-mobile>li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.lists-mobile>hr {
    width: 100%;
}

.lists-mobile>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.lists-mobile>li:nth-child(8)>a {
    background: transparent;
    color: #fff;
    padding: 15px 30px;
    width: 100%;
    display: block;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 5px hsla(231, 69%, 60%, 0.397));
    border: 2px solid #fff;
}

.lists-mobile>li>a:hover {
    color: hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.lists-mobile>li:nth-child(8)>a:hover {
    color: hsl(0, 94%, 66%);
    background: #fff;
    font-weight: 400;
    border: 2px solid hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.icons {
    cursor: pointer;
    display: none;
}

.icons > i {
    font-size: 20px;
}

.hero-section {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.text-container {
    width: 40%;
    margin-left: 10%;
}

.text-container>h1 {
    color: hsl(229, 31%, 21%);
    font-weight: 500;
    font-size: 50px;
}

.text-container>P {
    margin-top: 1.5rem;
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    line-height: 1.7;
    /* letter-spacing: 1px; */
    margin-bottom: 1.5rem;
    width: 80%;
}

.text-container>button:nth-child(3) {
    background: hsl(231, 69%, 60%);
    border: 2px solid transparent;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    margin-right: 15px;
}

.text-container>button:nth-child(3):hover {
    color: hsl(231, 69%, 60%);
    background: transparent;
    border: 2px solid hsl(231, 69%, 60%);
    transition: .4s linear;
}

.text-container>button:nth-child(4) {
    background: #fff;
    border: 2px solid transparent;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    color: hsl(229, 31%, 21%);
    filter: drop-shadow(1px 1px 5px hsla(231, 69%, 60%, 0.24));
}

.text-container>button:nth-child(4):hover {
    color: hsl(229, 31%, 21%);
    background: transparent;
    border: 2px solid hsl(229, 31%, 21%);
    transition: .4s linear;
}

.img-container {
    width: 50%;
    position: relative;
}

.img-container>img {
    width: 100%;
}

.semi-circle {
    width: 70%;
    height: 300px;
    background: hsl(231, 69%, 60%);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.features-section {
    margin-top: 4rem;
}

.features-content {
    width: 80%;
    margin: auto;
}

.features-content>h1 {
    color: hsl(229, 31%, 21%);
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.features-content>P {
    margin-top: 1.5rem;
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    text-align: center;
    line-height: 1.7;
    /* margin-bottom: 2rem; */
    width: 50%;
    margin: auto;
}

.tabs-container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.tabs button {
    background: transparent;
    border: 0;
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    font-weight: 400;
    padding: 20px 10px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.tabs button:hover {
    color: hsl(0, 94%, 66%);
    transition: .4s linear;
}

.tabs button.active {
    border-bottom: 5px solid hsl(0, 94%, 66%);
    transition: .4s linear;
}

.general-tab {
    margin-top: 8rem;
}

.tabs-content {
    justify-content: space-between;
    gap: 3rem;
    display: none;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tabs-content.active {
    display: flex;
}

.img-container-1 {
    width: 50%;
    position: relative;
}

.img-container-1 img {
    width: 60%;
    position: relative;
    left: 180px;
    bottom: 50px;
}

.semi-circle-1 {
    width: 80%;
    height: 300px;
    background: hsl(231, 69%, 60%);
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.text-container-1 {
    width: 40%;
    /* margin-right: 10%; */
}

.text-container-1>h1 {
    color: hsl(229, 31%, 21%);
    font-weight: 500;
    font-size: 30px;
}

.text-container-1>P {
    margin-top: 1.5rem;
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    line-height: 1.7;
    /* letter-spacing: 1px; */
    margin-bottom: 1.5rem;
    width: 80%;
}

.text-container-1>button,
.card>button,
.card-1>button,
.card-2>button {
    background: hsl(231, 69%, 60%);
    border: 2px solid transparent;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    /* margin-right: 15px; */
}

.text-container-1>button:hover,
.card>button:hover,
.card-1>button:hover,
.card-2>button:hover {
    color: hsl(231, 69%, 60%);
    background: transparent;
    border: 2px solid hsl(231, 69%, 60%);
    transition: .4s linear;
}

.main-section {
    width: 80%;
    margin: 8rem auto 0 auto;
}

.main-section>h1 {
    color: hsl(229, 31%, 21%);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.main-section>P {
    margin-top: 1.5rem;
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    text-align: center;
    line-height: 1.7;
    width: 50%;
    margin: auto;
}

.card-container {
    width: 85%;
    gap: 2rem;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card,
.card-1,
.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    border-radius: 7px;
    justify-content: center;
    background: #fff;
    padding: 15px;
    filter: drop-shadow(1px 1px 5px hsla(231, 92%, 67%, 0.199));
}

.card>button,
.card-1>button,
.card-2>button {
    width: 95%;
}

.card img:nth-child(1),
.card-1 img:nth-child(1),
.card-2 img:nth-child(1) {
    margin: 20px 0 30px 0;
}

.card>h4,
.card-1>h4,
.card-2>h4 {
    color: hsl(229, 31%, 21%);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.card>p,
.card-1>p,
.card-2>p {
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    text-align: center;
    margin-bottom: 30px;
}

.card>img:nth-child(4),
.card-1>img:nth-child(4),
.card-2>img:nth-child(4) {
    margin-bottom: 20px;
    width: 100%;
}

.space-1 {
    margin-top: 7rem;
}

.space-2 {
    margin-top: 14rem;
}

.faq-section {
    width: 60%;
    margin: 8rem auto;
}

.faq-section>h1 {
    color: hsl(229, 31%, 21%);
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 3rem;
}

.faq-section>p {
    font-size: 16px;
    color: hsl(229, 8%, 60%);
    text-align: center;
    width: 55%;
    margin: auto auto 3rem auto;
}

.accordion {
    width: 60%;
    margin: auto;
}

.acc-1 {
    cursor: pointer;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 20px 0;
}

.details>p {
    color: hsl(229, 8%, 60%);
    font-size: 16px;
    font-weight: 400;
    width: 90%;
    transition: 1.2s ease;
}

.acc-1.active .details>p {
    color: hsl(229, 31%, 21%);
    font-weight: 500;
}

.details>p:hover {
    color: hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.details>i {
    color: hsl(231, 69%, 60%);
    font-weight: 600;
    transition: 1.2s ease;
}

.acc-1.active i {
    color: hsl(0, 94%, 66%);
    transform: rotate(180deg);
}

.summary {
    width: 95%;
    margin: auto;
    max-height: 0;
    transition: max-height 1.2s ease;
    overflow: hidden;
}

.acc-1.active .summary {
    max-height: 300px;
}

.summary>p {
    font-size: 15px;
    line-height: 1.8;
    margin: 2rem 0 1rem 0;
    color: hsl(229, 8%, 60%);
    text-align: left;
}

.acc-btn {
    background: hsl(231, 69%, 60%);
    border: 2px solid transparent;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    margin: 3rem auto 0 auto;
    display: inherit;
}

.acc-btn:hover {
    color: hsl(231, 69%, 60%);
    background: transparent;
    border: 2px solid hsl(231, 69%, 60%);
    transition: .4s linear;
}

.mail-section {
    background: hsl(231, 69%, 60%);
    padding: 20px;
}

.semi-footer {
    width: 60%;
    margin: 4rem auto;
    text-align: center;
}

.semi-footer>p:nth-child(1) {
    color: #fff;
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.semi-footer h2 {
    color: #fff;
    width: 60%;
    margin: 0 auto 2rem auto;
    font-size: 30px;
    font-weight: 500;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.inpt {
    width: 70%;
    position: relative;
}

.val {
    padding: 10px;
    border-radius: 4px;
    border: 2px solid transparent;
    width: 80%;
    outline: 0;
    transition: border 0.4s ease;
}

.form-submit.active .val {
    border: 2px solid hsl(0, 94%, 66%);
}

.err {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(0, 50%);
    right: 45px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.form-submit.active .err {
    opacity: 1;
}

.inpt p {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    font-style: italic;
    background: hsl(0, 94%, 66%);
    width: 80%;
    margin: auto;
    padding: 3px;
    text-align: left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.form-submit.active .inpt p {
    opacity: 1;
}

.form-submit button {
    background: hsl(0, 94%, 66%);
    border: 2px solid transparent;
    padding: 12px 20px;
    width: 130px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}

.form-submit button:hover {
    background: #fff;
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
    transition: .4s linear;
}

footer {
    background: hsl(229, 31%, 21%);
}

.footer-section {
    width: 80%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.lists-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.lists-footer>li {
    list-style-type: none;
}

.lists-footer>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.lists-footer>li>a:hover {
    color: hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

.sec-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sec-2 i {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.sec-2 i:hover {
    color: hsl(0, 94%, 66%);
    transition: 0.4s linear;
}

@media screen and (max-width: 990px) {
    .card-container {
        flex-direction: column;
        margin-top: 4rem;
        justify-content: center;
    }

    .card,
    .card-1,
    .card-2 {
        width: 40%;
    }

    .space-1,
    .space-2 {
        margin-top: 0;
    }

    .semi-footer h2 {
        width: 70%;
    }
}

@media screen and (max-width: 940px) {
    .hero-section {
        flex-direction: column-reverse;
        gap: 6rem;
    }

    .img-container {
        width: 100%;
    }

    .text-container,
    .text-container-1 {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .text-container>p,
    .text-container-1>p {
        margin: 1.5rem auto;
    }

    .features-content>p,
    .main-section>p,
    .faq-section>p {
        width: 70%;
    }

    .tabs-content {
        flex-direction: column;
        gap: 6rem;
    }

    .img-container-1 {
        width: 100%;
    }

    .semi-circle-1 {
        width: 70%;
    }

    .card,
    .card-1,
    .card-2 {
        width: 50%;
    }

    .faq-section>h1 {
        margin-bottom: 2rem;
    }

    .accordion {
        width: 70%;
    }

    body>section:nth-child(5)>div>div>div:nth-child(1)>hr:nth-child(1) {
        opacity: 0;
    }
}

@media screen and (max-width: 868px) {
    /* .nav-section {
        position: relative;
    } */

    .lists {
        display: none;
    }

    .icons {
        display: block;
    }
}